{% extends 'base.html' %}

{% block title %}Startseite{% endblock %}

{% block content %}
        <div class="hero">
            <h1 class="hero-title">Willkommen bei Gymlife24</h1>
            <h2 class="hero-subtitle">Ein gutes Leben beginnt mit einem gesunden Körper</h2>
            <p class="hero-description">Durchsuche Übungen nach Muskelgruppen</p>
            <a href="exercises" class="btn">Übungen</a>
            <p class="hero-description">Berechne deinen täglichen Kalorienbedarf</p>
            <a href="calorie_calculator" class="btn">Rechner</a>
            <p class="hero-description">Erstelle einen Account, um deine Übungen zu speichern</p>
            <a href="login" class="btn">Anmelden</a>
        </div>

{% endblock %}
